.help-text{
    color: #636c72;
    display: block;
    margin-top: .25rem;
}

.fill-button{
    margin: 1em !important;
}

#dev-toolbar {
  background-color: #FAA732;
  text-align: center;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  padding-top: 5px;
}