<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AVC Health Dashboard</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cern_toolbar.css') }}"/>

</head>
<body>

{% from "macros/toolbars.html" import render_cern_toolbar, render_dev_toolbar %}
{{ render_cern_toolbar(current_user) }}

{% block content %}{% endblock %}

<!-- Piwik -->
<script type="text/javascript">
    var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.web.cern.ch/" : "http://piwik.web.cern.ch/");
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 3692);
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
    } catch (err) {
    }
</script>
<noscript><p><img src="http://piwik.web.cern.ch/piwik.php?idsite=3692" style="border:0" alt=""/></p></noscript>
<!-- End Piwik Tracking Code -->
</body>
</html>