{% extends 'base.html' %}

{% block content %}
    <div class="ui two column centered grid">
        <div class="column">
            {%- with messages = get_flashed_messages(with_categories=true) -%}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="ui one column grid">
                            <div class="column">
                                <div class="ui {{ category }} message">
                                    <i class="close icon"></i>
                                    <div class="header">
                                        {% if category == "success" %}Success!{% endif %}
                                        {% if category == "warning" %}Warning!{% endif %}
                                        {% if category == "negative" %}Error!{% endif %}</div>
                                    <p>{{ message }}</p>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                {% endif %}
            {%- endwith %}
        </div>
    </div>

    <div class="ui two column grid">
        <div class="ui centered column">
            <h1 class="ui center aligned header">AVC Health Dashboard</h1>
            <h2 class="ui header">Sites</h2>

            <table class="ui celled striped table">
                <thead>
                <tr>
                    <th>Status</th>
                    <th>Website</th>
                    {% if current_user and current_user.is_admin %}
                        <th>Hostname</th>
                    {% endif %}
                    <th>Details</th>
                    <th>Last update</th>
                </tr>
                </thead>
                <tbody>
                {% for site in data %}
                    {% if site.type == 'official' or (site.type == 'test' and current_user and current_user.is_admin) %}

                        <tr>
                            <td class="center aligned">{% if site.status == 'ok' %}
                                <span class="ui green circular label"></span>
                            {% else %}
                                {% set errors = True %}
                                <span class="ui red circular label"
                                      title="{{ site.first_error_date }} / {{ site.last_error_date }}">{{ site.error_count }}</span>
                            {% endif %}
                            </td>
                            <td>{{ site.name }}</td>
                            {% if current_user and current_user.is_admin %}
                                <td><a href="//{{ site.hostname }}{{ site.path }}">{{ site.hostname }}</a></td>
                            {% endif %}
                            <td>{% if site.details %}
                                {{ site.details }}
                            {% else %}
                                -
                            {% endif %}
                            </td>
                            <td>{{ site.timestamp }}
                                {% if site.status == 'not ok' %}
                                    <a href="https://cern.service-now.com/service-portal/report-ticket.do?name=incident&fe=webcast&s=webcast"
                                       class="ui tiny red button">Report issue</a>
                                {% endif %}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <p>
            </p>
            {% if current_user and current_user.is_admin %}
                <h2 class="ui header">Services</h2>

                <table class="ui celled striped table">
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Service</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td class="center aligned">{% if eos_check.status == 'ok' %}
                            <span class="ui green circular label"></span>
                        {% else %}
                            {% set errors = True %}
                            <span class="ui red circular label"></span>
                        {% endif %}
                        </td>
                        <td>EOS Quota ({{ eos_check.used_quota }} GB/{{ eos_check.total_quota }} GB)</td>
                    </tr>

                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
    <div class="ui two column centered grid">
        <div class="ui center aligned column">
            <p>2017 - IT-CDA-IC</p>
        </div>
    </div>

    <script type="text/javascript">
        $('.message .close').on('click', function () {
            $(this).closest('.message').transition('fade');
        });
    </script>
{% endblock %}